@font-face {
  font-family: arFont;
  src: url(../fonts/cocon.otf);
}
* {
  box-sizing: border-box;
  font-family: "arial", tahoma;
  font-size: 20px;
  text-transform: capitalize !important;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  font-family: "segoe ui";
  background-color: #f6f6f6 !important;
  overflow-x: hidden;
}

.section, .foot .faqs {
  margin-bottom: 10em;
  margin-top: 10em;
}

.header_back {
  position: relative;
  margin-bottom: 6em;
}
.header_back .header_h {
  margin-left: 3em;
  color: white;
  font-family: cursive;
  font-size: 2em;
  font-weight: 600;
}
.header_back img {
  z-index: -1;
  position: absolute;
  width: 22em;
  top: -5em;
  left: 2em;
}

nav {
  height: 80px;
  width: 100%;
}
nav label i {
  color: #462326;
}
nav ul {
  float: right;
  margin-right: 20px;
  z-index: 5;
  padding: 0;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav label.logo {
  color: #3a2b2b;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav a.active {
  background: #49545d;
  color: white;
  transition: 0.5s;
}
nav a:hover {
  background: #1b9bff;
  transition: 0.5s;
}
nav .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  margin-top: 1em;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
nav #check {
  display: none;
}
@media (max-width: 952px) {
  nav label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav nav ul li a {
    font-size: 12px;
  }
}
@media (max-width: 858px) {
  nav .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: grid;
  }
  nav nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav nav ul li a {
    font-size: 20px;
  }
  nav a:hover {
    background: none;
    color: #0082e6;
  }
  nav a.active {
    background: #49545d;
    color: white;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
}

header {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("../img/college.jpg");
  width: 100%;
  height: 15em;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  align-items: center;
}
header .d-flex {
  justify-content: center;
  align-items: center;
}
header h4 {
  font-size: 16px;
  letter-spacing: 2px;
  font-family: cursive;
}
header span {
  margin: 1em;
}
header span i {
  font-size: 16px;
  margin-bottom: 5px;
}

section {
  margin-top: 10em;
}
section .container .left {
  border-radius: 10px;
  margin-right: 2em;
}
section .container .left img {
  width: 100%;
  height: 20em;
  border-radius: 5px;
}
section .container .left img + div h1 {
  font-size: 2em;
  font-family: unset;
  letter-spacing: 1;
}
section .container .left .tags {
  display: flex;
  margin-bottom: 2em;
  justify-content: space-between;
}
section .container .left .tags .spans {
  display: flex;
}
section .container .left .tags .spans span:first-of-type {
  margin-left: 0;
}
section .container .left .tags .spans span {
  background: #15315b;
  width: 5em;
  padding: 6px;
  border-radius: 1em;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  margin: auto 1em;
}
section .container .left .tags .date {
  margin-right: 1em;
}
section .container .left .inner p {
  margin: 1em;
  font-size: 15px;
  line-height: 2;
  color: rgba(0, 0, 0, 0.631372549);
}
section .container .left .inner img {
  width: 16em;
  height: 15em;
}
section .container .left .btn_download {
  margin: 2em 43%;
  width: 8em;
  background: #201c17;
  border: none;
  outline: none;
  font-family: monospace;
  letter-spacing: 1;
  color: white;
}
section .container .left .line {
  width: 100%;
  background: #7c7c7c;
  height: 1px;
  margin-bottom: 3em;
}
section .container .left .linBar {
  display: flex;
  margin-bottom: 1em;
}
section .container .left .linBar span {
  color: #50565b;
}
section .container .left .linBar .like {
  margin-right: 1em;
}
section .container .left .linBar .like i {
  color: #dc3545;
}
section .container .left .linBar .comment i {
  color: #333333;
}
section .container .left form .col-12 input,
section .container .left form .col-12 textarea {
  background: #dee2e6;
  border: none;
  outline: none;
  padding: 7px;
  padding-left: 14px;
  border-radius: 4px;
  margin-bottom: 1em;
  width: 100%;
}
section .container .left form .btn {
  width: 8em;
  background: #201c17;
  border: none;
  outline: none;
  font-family: monospace;
  letter-spacing: 1;
  color: white;
  margin: auto 28.7em;
}
section .container .left .comments .comment {
  background: #ffffff;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 10px;
}
section .container .left .comments .comment img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}
section .container .left .comments .comment .linBar {
  margin: 0;
  height: 2em;
  align-items: baseline;
}
section .container .left .comments .comment p {
  margin: 2em;
  font-size: 15px;
  letter-spacing: 1;
  line-height: 2;
  color: #414447;
}
section .container .left .comments .comment button {
  width: 6em;
  border-radius: 6px;
  font-size: 15px;
  background: #dc3545;
  border: none;
  outline: none;
  font-family: monospace;
  letter-spacing: 1;
  color: white;
  padding: 6px;
}
section .container .right .hot img {
  width: 100%;
  height: 13em;
  border-radius: 5px;
}
section .container .right .hot .head {
  margin: 1em auto;
  align-items: center;
  justify-content: space-between;
}
section .container .right .hot .head h3 {
  font-size: 12px;
  text-transform: lowercase !important;
  font-family: cursive;
  font-weight: 600;
  letter-spacing: 1;
}
section .container .right .hot .head .tags span {
  background: #15315b;
  width: 5em;
  padding: 6px;
  border-radius: 9px;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  margin-right: 1em;
}
section .container .right .hot h1 {
  font-size: 33px;
  color: #0a47a1;
  font-family: sans-serif;
}
section .container .right .hot p {
  font-size: 12px;
  line-height: 2;
  color: #686868;
}
section .container .right .hot .linBar {
  display: flex;
  margin-bottom: 1em;
}
section .container .right .hot .linBar span {
  color: #50565b;
}
section .container .right .hot .linBar .like {
  margin-right: 1em;
}
section .container .right .hot .linBar .like i {
  color: #dc3545;
}
section .container .right .hot .linBar .comment i {
  color: #333333;
}
section .container .right .hot .ad img {
  height: 20em;
}
section .container .right .hot .news {
  margin-top: 2em;
}
section .container .right .hot .news h1 {
  text-align: center;
  color: #323232;
}
section .container .right .hot .news input {
  border: none;
  outline: none;
  padding: 8px;
  padding-left: 16px;
  border-radius: 7px;
  background: #313a42;
  color: white;
  display: inline-block;
  width: 12em;
  margin-right: 13px;
}
section .container .right .hot .news input::-moz-placeholder {
  color: white;
}
section .container .right .hot .news input::placeholder {
  color: white;
}
section .container .right .hot .news button {
  display: inline-block;
  background: #dc3545;
  width: 7em;
  font-size: 12px;
  padding: 12px;
  color: white;
  margin-bottom: 5px;
}

.foot {
  position: relative;
}
.foot .skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(-8deg);
  transform-origin: left;
}
.foot footer {
  position: relative;
  height: 26em;
  background: #2c3e50;
  color: white;
  margin-top: 25em;
}
.foot footer p {
  font-size: 17px;
  color: #c4c4c4;
  font-family: serif;
}
.foot footer ul a {
  color: #b6cac3 !important;
  text-decoration: none;
}
.foot footer .down {
  align-items: center;
}
.foot footer .down li {
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.foot footer .down li i {
  color: black;
}
.foot footer .subscribtion .subscribe h1 {
  font-size: 38px;
}
.foot footer .subscribtion .buttons {
  align-self: center;
  text-align: -webkit-right;
}
.foot footer .subscribtion .buttons input {
  background: aliceblue;
  padding: 18px;
  height: 3em;
  border-radius: 7px;
  border: none;
  outline: none;
}
.foot footer .subscribtion .buttons button {
  background: #96c6f1;
  padding: 18px;
  height: 3em;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 21px;
  text-transform: capitalize;
}
.foot .faqs .container h1 {
  color: white;
  font-size: 30px;
}
.foot .faqs .container p {
  font-size: 12px;
  color: #f1ece4;
}
.foot .faqs .container .faq_qus {
  background: #272f35;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 3em;
  width: 16em;
  height: 7em;
}
.foot .faqs .container .left_about {
  align-self: center;
}
.foot .faqs .container .center_about {
  display: flex;
  justify-content: center;
}
.foot .faqs .container .center_about img {
  width: 22em;
}
.foot .faqs .container .right_about {
  align-self: center;
}/*# sourceMappingURL=article.css.map */