@font-face {
  font-family: arFont;
  src: url(../fonts/cocon.otf);
}
* {
  box-sizing: border-box;
  font-family: "arial", tahoma;
  font-size: 20px;
  text-transform: capitalize;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  font-family: "segoe ui";
  background-color: #f6f6f6 !important;
  overflow-x: hidden;
}

.section, .foot .faqs {
  margin-bottom: 10em;
  margin-top: 10em;
}

html {
  height: 100%;
  /*height: 1000em;*/
  background: #f2f5f9 !important;
}

nav {
  height: 80px;
  width: 100%;
}
nav label i {
  color: #462326;
}
nav ul {
  float: right;
  margin-right: 20px;
  z-index: 5;
  padding: 0;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav label.logo {
  color: #3a2b2b;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav a.active {
  background: #49545d;
  color: white;
  transition: 0.5s;
}
nav a:hover {
  background: #1b9bff;
  transition: 0.5s;
}
nav .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  margin-top: 1em;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
nav #check {
  display: none;
}
@media (max-width: 952px) {
  nav label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav nav ul li a {
    font-size: 12px;
  }
}
@media (max-width: 858px) {
  nav .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: grid;
  }
  nav nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav nav ul li a {
    font-size: 20px;
  }
  nav a:hover {
    background: none;
    color: #0082e6;
  }
  nav a.active {
    background: #49545d;
    color: white;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
}

header {
  background: url(../img/seaarch_img.jpg);
  width: 100%;
  height: 13em;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}
header .container {
  position: relative;
}
header .d-flex {
  background: white;
  box-shadow: 1px 21px 36px 0px rgba(0, 0, 0, 0.231372549);
  padding: 1em;
  height: 5em;
  position: absolute;
  top: 10em;
  width: 60em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}
header .d-flex button {
  background-color: #3f3d3d;
  outline: none;
  border: none;
  width: 10em;
  font-size: 17px;
  border-radius: 16px;
  margin-left: 18px;
}
header .d-flex .line {
  background: #163b70;
  position: relative;
  top: -3em;
  height: 5em;
  width: 3px;
  margin: 2em;
  border: none;
}
header .d-flex .input {
  width: 21em;
  margin-left: 2em;
  text-align: left;
  align-self: center;
}
header .d-flex .input input {
  border: none;
  outline: none;
  padding-left: 1em;
  font-size: 15px;
  width: 15em;
  font-family: revert;
  letter-spacing: 2px;
  padding: 1em;
}
header .d-flex .input input i {
  margin-left: 2em;
}
header .d-flex .input input::-moz-placeholder {
  font-size: 14px;
}
header .d-flex .input input::placeholder {
  font-size: 14px;
}
header fieldset {
  width: 35%;
}
header details {
  position: relative;
}
header details summary {
  padding: 0.75rem 0.75rem;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  list-style: none;
  width: 14em;
}
header details summary aside {
  font-size: 15px;
  display: flex;
  align-content: center;
}
header details summary .dropUniversity h2 {
  font-size: 15px;
  margin: 0;
}
header details summary .dropUniversity i {
  margin-right: 9px;
  font-size: 15px;
}
header details summary::-webkit-details-marker {
  display: none;
}
header details summary:focus {
  outline: 0;
  box-shadow: 0 0 0 4px #b5c9fc;
}
header details summary:hover, header details summary:focus {
  border-color: #2260ff;
}
header details summary span {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  transform-origin: center center;
}
header details[open] summary {
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}
header details[open] summary span {
  transform: scaleY(-1) translateY(50%);
}
header details div {
  margin-top: 8px;
  background-color: #fff;
  border: 2px solid #b5bfd9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: 0 3px 7px 0 #c8cfe1;
}
header details div label {
  position: relative;
  cursor: pointer;
}
header details div input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  visibility: hidden;
  position: absolute;
}
header details div input:checked + span {
  background-color: #e9efff;
  color: #2260ff;
}
header details div span:hover {
  background-color: #e9efff;
}
header details div span {
  display: block;
  padding: 0.625rem;
  border-radius: 8px;
  margin-top: 0.25rem;
  font-size: 12px;
}
@media (max-width: 1200px) {
  header .d-flex {
    display: block !important;
    height: 21em;
  }
  header .d-flex button {
    position: absolute;
    top: 22em;
    width: 8em;
    left: 31em;
  }
  header .d-flex .input {
    display: flex;
    width: 50% !important;
    margin-left: 11em !important;
    align-items: center;
  }
  header .d-flex .input input {
    width: 100% !important;
  }
  header .d-flex .line {
    height: 1px !important;
    width: 39em !important;
    top: -1em !important;
  }
  header .d-flex fieldset details {
    width: 39em;
    left: 62%;
    top: -1em;
  }
  header .d-flex fieldset details div {
    width: 12em;
  }
}

.inner {
  margin-top: 9em;
}
.inner .container .left {
  /*
  background: #363636;
  padding: 2em;
  border-radius: 9px;
  color: aliceblue;
  h1 {
      font-size: 26px;
  }
  .sel_serch {
      background: aliceblue;
      width: 5em;
      font-size: 15px;
      text-align: center;
      padding: 3px;
      // height: 2em;
      border-radius: 10px;
      color: black;
      display: inline-block;
  }
  .filter_h {
      padding: 1em;
      margin: 1em auto;
      h2 {
          font-size: 20px;
          font-family: fantasy;
          letter-spacing: 3px;
      }
      .form-group {
          display: block;
          margin-bottom: 15px;

          input {
              padding: 0;
              height: initial;
              width: initial;
              margin-bottom: 0;
              display: none;
              cursor: pointer;
          }

          label {
              position: relative;
              cursor: pointer;

              &:before {
                  content: "";
                  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                  -webkit-appearance: none;
                  background-color: transparent;
                  border: 2px solid #ebebeb4d;
                  padding: 10px;
                  display: inline-block;
                  position: relative;
                  vertical-align: middle;
                  cursor: pointer;
                  margin-right: 5px;
                  border-radius: 3px;
              }
          }
          input:checked + label::before {
              background: #f8ecec;
          }
          input:checked + label:after {
              content: "";
              display: block;
              position: absolute;
              top: 3px;
              left: 7px;
              width: 10px;
              height: 20px;
              border: solid #0079bf;
              border-width: 0 5px 5px 0;
              transform: rotate(45deg);
          }
      }
  }*/
}
.inner .container .left img {
  margin-bottom: 12em;
}
.inner .container .right {
  --bs-gutter-x: 10em;
}
@media (max-width: 1000px) {
  .inner .container .right {
    --bs-gutter-x: 1em;
  }
}
.inner .container .right .sec {
  background: #1d2a3d;
  padding: 1em;
  border-radius: 15px;
  color: white;
  margin-bottom: 1em;
}
.inner .container .right .sec .col-12 {
  display: flex;
}
.inner .container .right .sec .header {
  align-items: center;
}
.inner .container .right .sec .header img {
  background: antiquewhite;
  width: 5em;
  height: 5em;
  background: #f6f6f6;
  border-radius: 50%;
  padding: 10px;
  margin-left: -68px;
}
.inner .container .right .sec .header h1 {
  font-size: 23px;
  margin-left: 18px;
  font-family: cursive;
}
.inner .container .right .sec .sub_header {
  margin-top: 1em;
  margin-bottom: 1em;
}
.inner .container .right .sec .sub_header .first {
  margin-left: 18px;
}
.inner .container .right .sec .sub_header span {
  margin: 0 2em;
}
.inner .container .right .sec .sub_header span i {
  color: #73849d;
}
.inner .container .right .sec .info p {
  font-size: 13px;
  margin: 1em;
  font-family: sans-serif;
  line-height: 2;
}
.inner .container .right .sec .srch {
  display: inline-block;
  width: 30em;
}
.inner .container .right .sec .srch .sel_serch {
  background: rgba(255, 255, 255, 0.4784313725);
  width: 5em;
  font-size: 15px;
  text-align: center;
  padding: 3px;
  border-radius: 10px;
  color: black;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
@media (max-width: 900px) {
  .inner {
    margin-top: 25em;
  }
}

.foot {
  position: relative;
}
.foot .skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(-8deg);
  transform-origin: left;
}
.foot footer {
  position: relative;
  height: 26em;
  background: #2c3e50;
  color: white;
  margin-top: 25em;
}
.foot footer p {
  font-size: 17px;
  color: #c4c4c4;
  font-family: serif;
}
.foot footer ul a {
  color: #b6cac3 !important;
  text-decoration: none;
}
.foot footer .down {
  align-items: center;
}
.foot footer .down li {
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.foot footer .down li i {
  color: black;
}
.foot footer .subscribtion .subscribe h1 {
  font-size: 38px;
}
.foot footer .subscribtion .buttons {
  align-self: center;
  text-align: -webkit-right;
}
.foot footer .subscribtion .buttons input {
  background: aliceblue;
  padding: 18px;
  height: 3em;
  border-radius: 7px;
  border: none;
  outline: none;
}
.foot footer .subscribtion .buttons button {
  background: #96c6f1;
  padding: 18px;
  height: 3em;
  border-radius: 7px;
  border: none;
  outline: none;
  font-size: 21px;
  text-transform: capitalize;
}
.foot .faqs .container h1 {
  color: white;
  font-size: 30px;
}
.foot .faqs .container p {
  font-size: 12px;
  color: #f1ece4;
}
.foot .faqs .container .faq_qus {
  background: #272f35;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 3em;
  width: 16em;
  height: 7em;
}
.foot .faqs .container .left_about {
  align-self: center;
}
.foot .faqs .container .center_about {
  display: flex;
  justify-content: center;
}
.foot .faqs .container .center_about img {
  width: 22em;
}
.foot .faqs .container .right_about {
  align-self: center;
}/*# sourceMappingURL=search.css.map */